<div class="ui fixed inverted menu" id="navbar">
    <div class="ui container">
      <a href="/" class="header item">
      <%= semantic_icon('send outline ') %>
        aBlaZe
      </a>
<!--LINK TO DASHBOARD -->
<div class="item <%= active_class('pages', 'dashboard') %>">
<%= semantic_icon('dashboard') %>
  <%= link_to '/pages/dashboard', class: "nav-link" do %>
    Dashboard
    <span class="sr-only"> <%= active_span('pages', 'dashboard') %> </span>
  <% end %>   
</div> 
<!--END OF DASHBOARD LINK  -->
<!--LINK TO INFO -->
<!--       <div class="item <%= active_class('pages', 'info') %>">
    <%= semantic_icon('help circle outline') %>
   <%= link_to '/pages/info', class: "nav-link" do %>
   Info
   <span class="sr-only"> <%= active_span('pages', 'info') %> </span>
  <% end %>  
   </div> -->
<!--END OF INFO LINK  -->
<!--LINK TO POSTS -->
      <div class="item <%= active_class('posts', 'index') %>">
       <%= semantic_icon('edit') %>
 <%=link_to '/posts', class: "nav-link" do %>
        Posts 
         <span class="sr-only"> <%= active_span('posts', 'index') %> </span>
  <% end %>  
        </div>
     <!--END OF POSTS LINK  -->
<!--LINK TO CONTACT -->
      <div class="item <%= active_class('pages', 'contact') %>">
    <%= semantic_icon('mail') %>
   <%= link_to '/pages/contact', class: "nav-link" do %>
   Contact
   <span class="sr-only"> <%= active_span('pages', 'contact') %> </span>
  <% end %>  
   </div>
     <!--END OF CONTACT LINK  -->
         <div class="right menu">
         <% if !user_signed_in? %>
         <div class="item">
      <%=link_to semantic_icon('sign in')+'Log in', new_user_session_path, class: 'ui basic teal button' %>
    </div>
    <div class="item">
    <%=link_to semantic_icon('add user')+'Sign up', new_user_registration_path, class: 'ui basic blue button' %>
    </div>
    <%else%>
    <div class="item <%= active_class('devise/registrations', 'edit') %>">
       <%= semantic_icon('user')%>
       <%=link_to '/users/edit', class: 'nav-link' do %>
        Profile        
<span class="sr-only"> <%= active_span('devise/registrations', 'edit') %> </span>
  <% end %>  
        </div>
     <div class="item">
       <%=link_to semantic_icon('sign out')+'Log out', destroy_user_session_path, method: :delete %> 
        </div>
      <%end%>
  </div>
    </div>
  </div>